
<div class="item">
    <div>Imagem da receita</div>
    <div>
        <input type="url" name="image_url" placeholder="http://example.com/image">
    </div>
</div>

<div class="item">
    <div>Ingredientes</div>
    <div>
        <input type="text" name="ingredients[]">
        <a class="add-button">Adicionar novo ingrediente</a>
    </div>
</div>

<div class="item">
    <div>Modo de preparo</div>
    <div>
        <input type="text" name="preparation-mode">
        <a class="add-button">Adicionar novo passo</a>
    </div>
</div>

<div class="item">
    <div>Informações adicionais</div>
    <div>
        <textarea name="additional-info" cols="30" rows="10"></textarea>
    </div>
</div>