<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Foodfy admin">
        <meta name="keywords" content="Admin, create, edit">
        <link rel="stylesheet" href="/styles/admin.css">
        <title>Foodfy admin</title>
    </head>

    <body>
        <header>
            <div class="admin-bar">
                <img src="/assets/logo-white.png" alt="Logo">
            </div>
        </header>
        
        <div class="flex-container">
            
        {% block content %}{% endblock content %}

        </div>

    </body>
</html>