{% extends "../layout.njk" %}

{% block content %}

<div class="form">
    <form action="/admin/users/register" method="POST">
    
        <div class="page-header">
            <h2>Criando usuário</h2>
            
            <button type="submit" class="button">Salvar usuário</button>
        </div>

    {% include "./fields.njk" %}

    </form>
</div>

{% endblock content %}