<div class="users-fields">

    <div class="item">
        <div>Nome</div>
        <div>
            <input 
                type="text" 
                name="name" 
                value="{{ user.name }}" 
                placeholder="Digite o nome completo"
            >
        </div>
    </div>

    <div class="item">
        <div>Email</div>

        <div>
            <input 
                type="email" 
                name="email" 
                value="{{ user.email }}" 
                placeholder="Digite o email"
                onblur="Validate.apply(this, 'isEmail')"
            >
        </div>
    </div>

    <div class="item">
        <div>Administrador</div>

        <div class="radio-options">

            <div class="radio yes">
                <input 
                    type="radio" 
                    name="is_admin" 
                    id="yes" 
                    value=true
                    {% if user.is_admin == true %}
                        checked
                    {% endif %}
                >
                <label for="yes">Sim</label>
            </div>

            <div class="radio no">
                <input 
                    type="radio" 
                    name="is_admin" 
                    id="no" 
                    value=false
                    {% if user.is_admin == false %}
                        checked
                    {% endif %}
                >
                <label for="no">Não</label>
            </div>

        </div>
    </div>

</div>

<input 
    type="hidden" 
    name="id" 
    value="{{ user.id }}"
>

