<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Foodfy admin">
        <meta name="keywords" content="Admin, create, edit">
        
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/admin.css">
        <link rel="stylesheet" href="/styles/site.css">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        <link rel="icon" href="/assets/admin-fav-icon.ico" type="image/x-icon"/>
        
        <title>Admin mode</title>
    </head>

    <body>
        <div class="flex-container">

            <header class="header-admin">
                <div class="navbar">
                    <a href="/admin/recipes">
                        <img src="/assets/logo-white.png" alt="Logo">
                    </a>
                    
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefes</a>
                </div>
            </header>

            <div class="container admin">
                {% block content %}{% endblock content %}
            </div>

        </div>

        {% block scripts %}
        <script src="/scripts/pagination.js"></script>
        <script src="/scripts/scripts.js"></script>
        {% endblock scripts %}
        
    </body>

</html>