{% import "parts/lottie.njk" as lottie %}

{% if error %}

<div class="messages error">
    <div>{{ error }}</div>

    <div class="animation"></div>

    {{ lottie.animation('.messages .animation', true, 'chef') }}

</div>

{% endif %}

{% if success %}

<div class="messages success">
    <div>{{ success }}</div>

    <div class="animation"></div>

    {{ lottie.animation('.messages .animation', true, 'chef') }}

</div>

{% endif %}

