{% extends "./layout.njk" %}

{% block content %}

<div class="main-card">
    
    <div class="content">
        <div class="text">
            <h1>As melhores receitas</h1>
            
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <img src="/assets/chef.png" alt="Chef">
    </div>
    
</div>

<section>
    
    <div class="most-accessed">

        <h2>Mais acessadas</h2>

        <div class="cards">

            {% for recipe in recipes %}
            <div class="card" id="{{ recipe.id }}">
                <a href="/recipes/{{ recipe.id }}">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                </a>
                <h3>{{ recipe.title }}</h3>
                <a href="/chefs/{{ recipe.chef_id }}">
                    <p>por {{ recipe.chef_name }}</p>
                </a>
            </div>
            {% endfor %}
            
        </div>
        
    </div>
    
</section>

{% block scripts %}
<script src="/scripts/redirect.js"></script>
{% endblock scripts %}

{% endblock content %}
