<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.">
        <meta name="keywords" content="Receitas, Chefs, Gastronomia">

        {% include "./parts/styles.njk" %}

        <title>Foodfy</title>
    </head>

    <body>
        <div class="flex-container">

            {% include "../admin/messages.njk" %}
            
            {% include "./parts/header.njk" %}

            <div class="container">

            {% block content %}{% endblock content %}

            </div>

            {% include "./parts/footer.njk" %}

            {% block scripts %}
            
            <script src="/scripts/scripts.js"></script>
            <script src="/scripts/pagination.js"></script>
            
            {% endblock scripts %}

        </div>
    </body>
</html>