<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.">
        <meta name="keywords" content="Receitas, Chefs, Gastronomia">

        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/site.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
        <title>Foodfy</title>
    </head>

    <body>
        <div class="flex-container">
            
            <header class="header-site">
                <a href="/"><img src="/assets/logo.png" alt="Logo da empresa"></a>
                <div class="links">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefes</a>
                </div>
                <div>
                    <form action="/results" method="GET">
                        <input 
                            type="text" 
                            name="filter" 
                            value="{{ filter }}" 
                            placeholder="Buscar uma receita"
                        >

                        <button type="submit" class="button">Buscar</button>
                    </form>
                </div>
            </header>

            <div class="container">

            {% block content %}{% endblock content %}

            </div>

            <footer>
                <div class="footer">
                    <p>Todos os direitos reservados, receitas <a href="https://github.com/LeonardoCampello-dev/Foodfy">Foodfy. 🍕</a></p>
                </div>
            </footer>

            {% block scripts %}
            <script src="/scripts/scripts.js"></script>
            <script src="/scripts/pagination.js"></script>
            {% endblock scripts %}

        </div>
    </body>
</html>