<header class="header-admin">
    <div class="navbar">
        <a href="/admin/recipes">
            <img src="/assets/logo-white.png" alt="Logo">
        </a>

        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefes</a>
        <a href="/admin/users">Usuários</a>
    </div>

    <div class="logout">
        <form action="/admin/users/logout" method="POST">
            <button type="submit">Sair</button>
        </form>
    </div>
</header>