<header class="header-admin">
    <div class="navbar">
        <a href="/admin/recipes">
            <img src="/assets/logo-white.png" alt="Logo">
        </a>
        
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefes</a>
    </div>
</header>