@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --title: #111111;
    --author: #777777;
    --paragraph: #444444;
    --red: #D54F44;
    --purple: #6558C3;
}

* {
    padding: 0;
    border: none;
    margin: 0;
}

html, body {
    min-height: 100vh;
    width: 100%;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    height: 100%;
}

header {
    width: 100%;
    min-height: 80px;
    background-color: #222222;
    padding: 24px;
    box-sizing: border-box;
}

.admin-bar {
    width: 70%;
    margin: 0 auto;
}

.flex-container {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ===================== FORM ===================== */

.form {
    width: 100%;
    margin: 48px 0;
    box-sizing: border-box;
}

.form .form-header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-bottom: 24px;
}

.form .form-header h2, 
.detail-header h2,
.recipe-information h2 {
    color: var(--title);
    font-size: 24px;
    line-height: 28px;
} 

#delete-button {
    background-color: #DC4747;
    right: 395px;
    position: absolute;
}

#delete-button:hover {
    background-color: var(--title);
    transition: 200ms;
}

.index-header a,
.form button[type="submit"],
.detail-header a {
    background-color: var(--purple);
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.index-header a:hover,
.form button[type="submit"]:hover {
    background-color: var(--paragraph);
    transition: 200ms;
}

.index-header a,
.form button[type="submit"],
.item div:first-child,
.detail-header a, 
.add-ingredient,
.remove-ingredient, 
.add-preparation {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-decoration: none;
}

.item {
    margin-top: 32px;
}

.item div:first-child {
    margin-bottom: 8px;
}


textarea,
input {
    width: 100%;
    padding: 16px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    color: var(--paragraph);

    box-shadow: 2px 2px 5px -4px var(--title);
}

textarea {
    font-family: 'Roboto', sans-serif;
    opacity: 0.8;
    resize: none;
    min-height: 257px;
}

.ingredient,
.preparation {
    margin-top: 8px;
}


.add-ingredient, 
.remove-ingredient, 
.add-preparation {
    color: var(--purple);
    cursor: pointer;
    display: inline-block;
    margin-top: 16px;
}

.remove-ingredient {
    color: var(--red);
    margin-left: 8px;
}

/* ===================== INDEX ===================== */

.index-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0 32px;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    gap: 24px 0;
}

.card {    
    width: 100%;
    min-height: 80px;
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 0 24px;
}


.card img {
    width: 100%;
    height: 90px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.card div h3 {
    color: var(--title);
    font-size: 18px;
    line-height: 21px;
}

.card div p {
    color: var(--author);
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0 8px;
}

.card a {
    color: var(--purple);
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.card a:hover {
    color: var(--paragraph);
    transition: 200ms;
}

/* ===================== DETAILS ===================== */

.details {
    width: 100%;
    box-sizing: border-box;
    margin-top: 48px;
}

.detail-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-header a:hover {
    background-color: var(--paragraph);
    transition: 200ms;
}

.details div:nth-child(2) img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
    margin: 24px 0 48px;
}

.details div:nth-child(2) h1,
.details div:nth-child(2) p {
    text-align: center;
}

.details div:nth-child(2) h1 {
    font-size: 36px;
    line-height: 42px;
}

.details div:nth-child(2) p {
    font-size: 20px;
    line-height: 24px;
    color: var(--author);
}

.recipe-information {
    margin-top: 40px;
}

.recipe-information ul,
.recipe-information p {
    list-style: none;
    margin-top: 16px;
}

.recipe-information ul li,
.recipe-information p {
    color: var(--paragraph);
    font-size: 18px;
    line-height: 28px;
}

.recipe-information p {
    margin-bottom: 32px;
}