/* ===================== HEADER ===================== */

header.header-admin {
    width: 100%;
    background-color: #222;
    padding: 24px;

    margin-bottom: 32px;
}

.navbar {
    width: 70%;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
}

.navbar a {
    color: #fff;
    font-size: 15px;
    line-height: 18px;

    font-weight: bold;
    text-transform: uppercase;

    transition: 0.2s
}

.navbar a:hover {
    color: var(--red);
}

.navbar > a {
    margin-right: 24px;
}

.navbar img {
    margin-right: 32px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
}

/* ===================== FORM ===================== */

#delete-button {
    right: 395px;
}

#delete-button,
#chef-delete {
    background-color: var(--paragraph);
    
    position: absolute;

    transition: 0.2s
}

#delete-button:hover,
#chef-delete:hover {
    background-color: #DC4747;
}

.item {
    margin-top: 32px;
}

.item div:first-child {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    
    margin-bottom: 12px;
}


textarea,
input,
select {
    width: 100%;
    padding: 16px;
    
    border: 1px solid #efefef;
    border-radius: 4px;
    
    color: var(--paragraph);
    font-size: 16px;
    font-weight: bold;

    box-shadow: 2px 2px 5px -4px var(--title);
}

textarea {
    opacity: 0.8;
    resize: none;
    min-height: 257px;
}

.ingredient,
.preparation {
    margin-top: 8px;
}


.add-ingredient, 
.add-preparation {
    color: var(--purple);
    display: inline-block;
    font-weight: bold;
    
    cursor: pointer;
    
    margin-top: 16px;
}

/* ===================== PHOTOS UPLOAD ===================== */

.item #photos-upload {
    width: 149px;

    border: 1px solid #ddd;
    border-radius: 4px;

    display: block;
    overflow: hidden;

    position: relative;
}

.item #photos-upload p {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item #photos-upload p i {
    color: #777;
    font-size: 40px;

    padding: 56px;
}

.item #photos-input {
    width: 100%;
    height: 100%;

    opacity: 0;

    top: 0;
    left: 0;

    cursor: pointer;

    overflow: hidden;
    position: absolute;
}

/* ===================== INDEX ===================== */

.cards-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px 0;
}

.cards-admin .card {    
    height: 80px;
    
    display: grid;
    grid-template-columns: 35% 1fr;
    align-items: center;
    gap: 0 24px;
}

.cards-admin .card img {
    width: 100%;
    height: 90px;
    border-radius: 8px;
    
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

    object-fit: cover;
}

.cards-admin .card div p {
    margin: 8px 0 8px;
}

.card a,
.card-chef a {
    color: var(--purple);
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;

    display: inline-block;

    transition: 0.2s
}

.card a:hover,
.card-chef a:hover {
    color: var(--paragraph);
}

/* ===================== DETAILS ===================== */

.details div:nth-child(2) img {
    margin-top: 24px;
}

/* ===================== CHEFS ===================== */

.card-chef a {
    margin-top: 8px;
}

#chef-delete {
    right: 375px;
}

/* ===================== PAGINATION ===================== */

.pagination {
    position: absolute;
    bottom: 5vh;
    left: 50%;
}




