/* ===================== GALLERY ===================== */

.photos {
  position: relative;
}

.gallery-photos {
  width: 300px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;

  align-items: center;

  margin-left: 10px;
}

.gallery-photos img {
  width: 100%;
  height: 50px;
  opacity: 0.5;
  transition: 0.2s;

  border-radius: 3px;
}

.gallery-photos img:hover {
  opacity: 1;
}

.gallery-photos img.image-active {
  opacity: 1;

  transform: scale(1.1);
}

/* ===================== LIGHTBOX ===================== */

.details .lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;

  overflow: hidden;
  z-index: 100;

  top: -100%;
  left: 0;

  opacity: 0;
  transition: opacity 0.4s;
}

.details .lightbox img {
  background-color: #efefef;

  width: 70%;
  height: 70%;

  margin: auto;

  position: absolute;

  object-fit: contain;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.details .lightbox .lightbox-close {
  background-color: var(--purple);
  color: #fff;

  position: absolute;
  right: 0;

  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0 0 0 50%;

  transition: 0.4s;
}

.details .lightbox .lightbox-close:hover {
  background-color: var(--red);
}
