:root {
    --title: #222121;
    --author: #7c7b7b;
    --paragraph: #444444;
    --salmon: #ffbfb7;
    --red: #D54F44;
    --green: #06ac2d;
    --purple: #594ead;
}

* {
    padding: 0;
    border: none;
    margin: 0;

    text-decoration: none;
    list-style: none;
    outline: none;

    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    width: 100%;
  }

body {
    background-color: #fff;
    height: 100%;
}

body,
input,
textarea,
select {
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: var(--title);
    font-size: 24px;
    line-height: 28px;
}

.flex-container {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.container {
    width: 70%;
    margin: 0 auto 48px;
}

.button {
    background-color: var(--purple);
    color: #fff;
    
    padding: 8px 16px;
    border-radius: 4px;
    
    cursor: pointer;

    transition: .2s;

    font-size: 14px;
    line-height: 19px;
    
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: var(--paragraph);
}

footer {
    background-color: #ddd;
    width: 100%;
    margin-top: auto;
}

.footer {
    padding: 24px;
}

.footer p a,
.footer p {
    color: #777;
    text-align: center;
}

.footer p a {
    text-decoration: none;
}

.footer p a:hover {
    color: var(--red);
}