.pagination {
    text-align: center;
}

.pagination a,
.pagination span {
    color: var(--paragraph);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 8px;
}

.pagination a:hover {
    color: var(--red);
    border-bottom: 1px solid var(--red);
    transition: .2s;
}
