/* ===================== PHOTOS UPLOAD ===================== */

.item #photos-upload {
    width: 150px;

    display: block;
    overflow: hidden;

    position: relative;

    margin-right: 16px;
}

.item #photos-upload, 
.item #photos-preview .photo img {
    border: 1px solid #ddd;
    border-radius: 4px;
}



.item #photos-upload p i, 
.item #photos-preview .photo {
    width: 150px;
    height: 150px;
}

.item #photos-upload p i,
.item #photos-preview .photo i {
    color: #999;
    font-size: 250%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.item #photos-input {
    width: 100%;
    height: 100%;

    opacity: 0;

    top: 0;
    left: 0;

    cursor: pointer;

    overflow: hidden;
    position: absolute;
}

/* ===================== PHOTOS PREVIEW ===================== */

.photos-container {
    display: flex;
    align-items: center;
}

.item #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.item #photos-preview .photo {
    position: relative;
}

.item #photos-preview .photo img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.item #photos-preview .photo i {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .2);
    color: var(--red);

    transition: opacity .2s;
    opacity: 0;
}

.item #photos-preview .photo i:hover {
    opacity: 1;
}