/* ===================== HEADER ===================== */

.header-site {
    width: 70%;
    padding: 32px;
    
    display: grid;
    grid-template-columns: 10% 60% 30%;
    align-items: center;
    
    margin: 0 auto;
}

.links {
    font-size: 16px;
    line-height: 19px;
    
    margin-left: 104px;
}

.links a {
    color: var(--title);
    text-decoration: none;
}

.links a:hover {
    color: var(--red);
    transition: .2s;
}

.links a + a {
    margin-left: 32px;
}

.active {
    font-weight: bold;
}

header form {
    display: grid;
    grid-template-columns: 1fr 128px;
    gap: 8px;
}

header form input[type="text"] {
    color: var(--paragraph);
    
    padding: 8px 16px;
    
    border: 1px solid #ddd;
    border-radius: 4px;

    font-size: 14px;
    line-height: 16px;
    
    box-sizing: border-box;
    
    box-shadow: 2px 2px 5px -4px var(--title);
}

/* ===================== MAIN CARD ===================== */

.main-card {
    width: 100%;
    height: 366px;
    
    background-color: var(--salmon);
    border-radius: 30px;
    
    margin: 0 auto;
}

.content {
    width: 90%;
    
    margin: 0 auto;
    padding: 32px;
    
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content img {
    margin-top: 32px;
}

.text {
    width: 50%;
}

.text h1 {
    color: var(--title);

    display: flex;
    align-items: center;
    justify-content: center;
}

.information p,
.text p {
    color: var(--title);

    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    
    opacity: .7;
    
    margin-top: 16px;
}

.text h1 div {
    width: 50px;
}

/* ===================== MOST ACCESSED ===================== */

.recipe-information h2,
.most-accessed {
    color: var(--title);
    font-size: 24px;
    line-height: 28px;

    margin-top: 48px;
}

.cards {
    width: 100%;
    margin-top: 32px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.card img {
    width: 100%;
    height: 140px;
    
    border-radius: 15px;

    cursor: pointer;
    
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
    object-fit: cover;
}

.card img:hover {
    transform: translateY(-2px);
}

.card h3 {
    color: var(--title);
    font-size: 18px;
    line-height: 21px;
    margin-top: 16px;
    cursor: pointer;
}

.card p,
.footer p {
    font-size: 14px;
    line-height: 16px;
    color: var(--author);
    margin-top: 8px;
}

/* ===================== ABOUT ===================== */


.information {
    margin-top: 32px;
}

.details p,
.information h2 {
    color: var(--title);
    font-size: 20px;
    line-height: 24px;
}

.information h2 span img {
    width: 24px;
    height: 24px;
}

.information p {
    color: var(--paragraph);
    opacity: 1;
}

/* ===================== DETAILS ===================== */

.details img {
    width: 100%;
    height: 366px;
    border-radius: 15px;
    object-fit: cover;
}

.details h1, 
.details p {
    text-align: center;
}

.details h1 {
    color: var(--title);
    font-size: 36px;
    line-height: 42px;
}

.details p {
    color: var(--author);
    margin-top: 8px;
}

.recipe-information-title {
    display: flex;
    align-items: baseline;
}

.recipe-information-title h2 {
    display: flex;
    align-items: center;
    
    margin-top: 32px;
}

.recipe-information-title h2 span img {
    width: 28px;
    height: 28px;

    margin-right: 8px;
    border-radius: initial;
}

.recipe-information-title a {
    color: var(--red);
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 8px;
    transition: .2s;
}

.recipe-information-title a:hover {
    color: var(--title);
    transform: translateY(-4px)
}

.invisible {
    display: none;
}

.recipe-information ul li {
    color: var(--paragraph);
    font-size: 18px;
    line-height: 28px;
}

.recipe-information p,
.recipe-information ul {
    margin-top: 24px;
}

.recipe-information p {
    text-align: justify;
}

/* ===================== CHEFS ===================== */

.card-chefs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-chef {
    display: grid;
    grid-template-columns: 88px 1fr;
    align-items: center;
    gap: 16px;
}

.card-chef img {
    width: 88px;
    height: 88px;
    border-radius: 50%;

    object-fit: cover;
}

.card-chef h3 {
    margin: 0;
}

.chef-detail h1 span img {
    border-radius: 0;
    width: 32px;
    height: 32px;
}

.chef-detail {
    text-align: center;
    
    padding-bottom: 24px;
    margin-bottom: 8px;
    
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}

.chef-detail img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/* ===================== NOT FOUND ===================== */

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found img {
    width: 200px;

    margin-top: 56px;
}

.not-found h2 {
    font-size: 18px;
    
    margin-top: 32px;
}