/* ===================== HEADER ===================== */

.header-site {
    width: 70%;
    padding: 32px;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    align-items: center;
    margin: 0 auto;
}

.links {
    font-size: 16px;
    line-height: 19px;
    margin-left: 104px;
}

.links a {
    text-decoration: none;
    color: var(--title);
}

.links a:hover {
    color: var(--red);
    transition: 200ms;
}

.links a + a {
    margin-left: 32px;
}

.active {
    font-weight: bold;
}

header form {
    display: grid;
    grid-template-columns: 1fr 128px;
    gap: 8px;
}

header form input[type="text"] {
    padding: 8px 16px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    color: var(--paragraph);
    box-shadow: 2px 2px 5px -4px var(--title);
}

/* ===================== MAIN CARD ===================== */

.main-card {
    width: 100%;
    height: 366px;
    background-color: var(--salmon);
    border-radius: 30px;
    margin: 0 auto;
}

.content {
    width: 90%;
    margin: 0 auto;
    padding: 32px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content img {
    margin-top: 32px;
}

.text {
    width: 35%;
}

.text h1 {
    color: var(--title);
}

.information p,
.text p {
    font-size: 18px;
    line-height: 28px;
    color: var(--title);
    opacity: 0.7;
    text-align: justify;
    margin-top: 16px;
}

/* ===================== MOST ACCESSED ===================== */



.recipe-information h2,
.most-accessed {
    font-size: 24px;
    line-height: 28px;
    color: var(--title);

    margin-top: 48px;
}

.cards {
    width: 100%;
    margin-top: 32px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.card img {
    width: 100%;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.card h3 {
    font-size: 18px;
    line-height: 21px;
    color: var(--title);
    margin-top: 16px;
    cursor: pointer;
}

.card p,
.footer p {
    font-size: 14px;
    line-height: 16px;
    color: var(--author);
    margin-top: 8px;
}

/* ===================== FOOTER ===================== */ 

footer {
    width: 100%;
    background-color: #eee;
    margin-top: auto;
}

.footer {
    padding: 24px;
}

.footer p a,
.footer p {
    color: #999999;
    text-align: center;
}

.footer p a {
    text-decoration: none;
}

.footer p a:hover {
    color: var(--red);
}

/* ===================== ABOUT ===================== */


.information {
    margin-top: 32px;
}

.details p,
.information h2 {
    font-size: 20px;
    line-height: 24px;
    color: var(--title);
}

.information p {
    color: var(--paragraph);
    opacity: 1;
}

/* ===================== DETAILS ===================== */

.details img {
    width: 100%;
    height: 366px;
    border-radius: 15px;
    object-fit: cover;
}

.details h1, 
.details p {
    text-align: center;
}

.details h1 {
    font-size: 36px;
    line-height: 42px;
    color: var(--title);
    margin-top: 40px;
}

.details p {
    color: var(--author);
    margin-top: 8px;
}

.button {
    display: flex;
    align-items: baseline;
}

.button h2 {
    margin-top: 32px;
}

.button a {
    font-size: 12px;
    line-height: 14px;
    color: var(--red);
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 8px;
}

.button a:hover {
    color: var(--title);
    transition: 200ms;
}

.invisible {
    display: none;
}

.recipe-information ul li {
    font-size: 18px;
    line-height: 28px;
    color: var(--paragraph);
}

.recipe-information p,
.recipe-information ul {
    margin-top: 24px;
}

.recipe-information p {
    text-align: justify;
}

/* ===================== CHEFS ===================== */

.card-chefs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-chef {
    display: grid;
    grid-template-columns: 88px 1fr;
    align-items: center;
    gap: 16px;
}

.card-chef img {
    width: 88px;
    height: 88px;
    border-radius: 50%;

    object-fit: cover;
}

.card-chef h3 {
    margin: 0;
}

.chef-detail {
    text-align: center;
}

.chef-detail img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/* ===================== PAGINATION ===================== */

.pagination {
    text-align: center;
}

.pagination a,
.pagination span {
    color: var(--paragraph);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 8px;
}

.pagination a:hover {
    color: var(--red);
    border-bottom: 1px solid var(--red);
    transition: 200ms;
}
