{% extends "../layout.njk" %}

{% block content %}

<div class="details">
    
    <div class="chef-detail">
        <img src="{{ chef.avatar.path }}" alt="{{ chef.name }}">
        
        <h1>
            {{ chef.name }}
            <span>
                <img src="/assets/icons/chef.svg" alt="Ícone chefe">
            </span>
        </h1>
        <p>
            {% if chef.total_recipes == 1 %}
                Uma receita
            {% elif chef.total_recipes > 1%}
                {{chef.total_recipes}}
                receitas
            {% else %}
                Nenhuma receita encontrada
            {% endif %}
        </p>
    </div>

</div>

{% if chef.total_recipes >= 1 %}

<section class="index">
    
    <div class="index-header">
        <h2>Receitas</h2>
    </div>

    <div class="cards">

        {% for recipe in chef.recipes %}

            <div class="card">
                <a href="/recipes/{{ recipe.id }}">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                </a>
                <div>
                    <h3>{{ recipe.title }}</h3>
                </div>
            </div>

        {% endfor %}

    </div>

</section>

{% endif %}

{% endblock content %}