{% extends "../layout.njk" %}

{% block content %}

<div class="details">
    
    <div class="chef-detail">
        <img src="{{ chef.avatar_url }}" alt="{{ chef.name }}">
        
        <h1>{{ chef.name }}</h1>
        <p>
            {% if chef.totalRecipes == 1 %}
                {{ totalRecipes}} receita
            {% elseif totalRecipes > 1 %}
                {{ totalRecipes}} receitas
            {% else %}
                Nenhuma receita encontrada
            {% endif %}
        </p>
    </div>

</div>

{% if chef.recipes_name  %}

<section class="index">
    
    <div class="index-header">
        <h2>Receitas</h2>
    </div>

    <div class="cards">

        {% for recipe in recipes %}

            <div class="card">
                <a href="/recipes/{{ recipe.recipes_id }}">
                    <img src="{{ recipe.recipes_image }}" alt="{{ recipe.recipes_name }}">
                </a>
                <div>
                    <h3>{{ recipe.recipes_name   }}</h3>
                </div>
            </div>

        {% endfor %}

    </div>

</section>

{% endif %}

{% endblock content %}