<div class="item">
    <div>Imagem da receita</div>
    
    <div class="photos-container">

        <div id="photos-upload">
            <input 
                type="file" 
                name="photos" 
                id="photos-input"
                multiple
                accept="images/*"
                onchange="PhotosUpload.handleFileInput(event)"
            >

            <p>
                <i class="material-icons">add_photo_alternate</i>
            </p>
        </div>

        <div id="photos-preview">
            {% if files %}
                {% for image in files %}
                <div class="photo" id="{{ image.id }}">
                    <img src="{{ image.src }}" alt="{{ image.name }}">

                    <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">delete</i>
                </div>

                {% endfor %}

                <input type="hidden" name="removed_files">
            {% endif %}
        </div>

    </div>
</div>

<div class="item">
    <div>Título</div>
    
    <div>
        <input 
            type="text" 
            name="title" 
            value="{{ recipe.title }}" 
            placeholder="Ex: Triplo Bacon Burguer" 
        >
    </div>
</div>

<div class="item">
    <div>Chef</div>
    
    <div>

        <select name="chef">
            {% for chef in chefSelectOptions %}
            
            <option value="{{ chef.id }}" 
            {% if recipe.chef_id == chef.id %} 
                selected 
            {% endif %}> 

            {{ chef.name }}
            </option>                        
            
            {% endfor %}
        </select>
        
    </div>
</div>

<div class="item" id="ingredients">
    <div>Ingredientes</div>
    
    {% if recipe.id %}
    
    {% for ingredient in recipe.ingredients %}

    <div class="ingredient">
        <input 
            type="text" 
            name="ingredients[]" 
            value="{{ ingredient }}" 
        >
    </div>

    {% endfor %}

    {% else %}

    <div class="ingredient">
        <input 
            type="text" 
            name="ingredients[]" 
            value="{{ ingredient }}" 
        >
    </div>
    
    {% endif %}

</div>

<a class="add-ingredient" onclick="Fields.addIngredient()">Adicionar novo ingrediente</a>

<div class="item" id="preparations">
    <div>Modo de preparo</div>

    {% if recipe.id %}
    
    {% for step in recipe.preparation %}
    
    <div class="preparation">
        <input 
            type="text" 
            name="preparation[]" 
            value="{{ step }}" 
        >
    </div>

    {% endfor %}

    {% else %}
    
    <div class="preparation">
        <input 
            type="text" 
            name="preparation[]" 
            value="{{ step }}" 
        >
    </div>

    {% endif %}
    
</div>

<a class="add-preparation" onclick="Fields.addPreparation()">Adicionar novo passo</a>

<div class="item">
    <div>Informações adicionais</div>
    
    <div>
        <textarea name="information" cols="30" rows="10">{{ recipe.information }}</textarea>
    </div>
</div>

<input 
    type="hidden" 
    name="id" 
    value="{{ recipe.id }}"
>


{% include "../confirm.njk" %}